@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

:root {
	--navbar-h: 50px;
}

@media screen and (max-width: 640px) {
	:root {
		/* Change base variable used for element variable */
		--navbar-h: 80px;
	}
}

@layer base {
	.h-dscreen {
		height: 100vh; /* fallback for older browsers */
		height: 100dvh;
	}
	.min-h-dscreen {
		min-height: 100vh; /* fallback for older browsers */
		min-height: 100dvh;
	}
}
