.wave {
	position: absolute;
	top: -1px;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
	z-index: 0;
}

.wave svg {
	position: relative;
	display: block;
	width: calc(147% + 1.3px);
	height: 76px;
	z-index: 0;
}

.waves {
	position: absolute;
	top: -1px;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	z-index: 0;
}

.waves svg {
	position: relative;
	display: block;
	width: calc(129% + 1.3px);
	height: 104px;
	z-index: 0;
}

.waves2 {
	position: absolute;
	top: -1px;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	z-index: 0;
}


